
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    border: none !important;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
}

.logo {
    width: 150px;
}

.nav_menu {
    background-color: rgb(248, 6, 6);
    text-align: left;
    padding: 10px 20px;
}

.nav_menu a {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
}

.nav_menu a:hover {
    background-color: white;
    color: red;
}


.footer {
    padding: 40px 20px;
    background-color: black;
    text-align: center;
    font-size: 14px;
}




